@import "node_modules/bootstrap/scss/bootstrap";

.scan-success-indicator
{
  pointer-events: none;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background-color: transparent;

  &.flash
  {
    background-color: rgba(green, 0.5);
  }
}

.menu
{
  &:hover
  {
    background-color: $gray-200 !important;

    svg
    {
      fill: $primary;
    }
  }
}
