<div class="container-fluid py-3 text-center">
  <h4
    class="mb-4 p-2 rounded"
    style="color: #124e78; background-color: #124e7830"
  >
    Pooling
  </h4>
  <ng-container *ngIf="!currentStep">
    <h5 class="d-flex align-items-center justify-content-center fs-5">
      1. Click on <span class="badge bg-primary mx-2">Start</span>
    </h5>
    <p class="text-muted">
      The complete process will only get saved to the database at the very end!
    </p>

    <button class="btn btn-primary mt-3" (click)="start()">Start</button>
    <button class="btn btn-outline-secondary mt-3 ms-2" routerLink="/">
      Home
    </button>
  </ng-container>

  <ng-container *ngIf="currentStep === 'identify-pool'">
    <h5 class="d-flex align-items-center justify-content-center fs-1">
      2. Scan the
      <img
        src="assets/qrcode.svg"
        alt="QR Code"
        style="height: 1.3em"
        class="mx-2"
      />
      of the <span class="badge bg-dark mx-2">Pool</span>
    </h5>

    <div *ngIf="inputDevice === 'manual'">
      <div class="form-group">
        <label for="pool-id">Pool ID</label>
        <input
          type="text"
          class="form-control"
          id="pool-id"
          placeholder="Pool ID"
          [(ngModel)]="poolId"
        />
      </div>
      <button
        class="btn btn-primary mt-3"
        (click)="checkPool(poolId || '')"
        [disabled]="!poolId"
      >
        Continue
      </button>
    </div>

    <div *ngIf="inputDevice === 'camera'" style="width: 200px">
      <zxing-scanner
        (scanSuccess)="poolScanSuccessHandler($event)"
        (scanError)="scanErrorHandler($event)"
      ></zxing-scanner>
    </div>
  </ng-container>

  <ng-container *ngIf="currentStep === 'scan-samples'">
    <h5 class="d-flex align-items-center justify-content-center fs-1">
      3. Scan the
      <img
        src="assets/qrcode.svg"
        alt="QR Code"
        style="height: 1.3em"
        class="mx-2"
      />
      of the
      <span class="text-warning fst-italic fw-bold border rounded mx-2 px-1"
        >{{ addedSamples.length + 1 }}.</span
      >
      <span class="badge bg-dark mx-2 py-1">Sample</span>
    </h5>
    <p class="text-muted">You must at least scan one sample per pool.</p>
    <p class="text-dark">
      Click on <span class="badge bg-primary mx-1">Done</span> when you are done
      with the current pool.
    </p>

    <div class="border rounded bg-light p-3">
      <div *ngIf="inputDevice === 'manual'">
        <div class="form-group">
          <label for="next-sample-id">Next Sample ID</label>
          <input
            type="text"
            class="form-control"
            id="next-p-id"
            placeholder="Next Sample ID"
            [(ngModel)]="nextSampleId"
          />
          <button
            class="btn btn-outline-primary mt-3"
            (click)="manualNextSampleId(nextSampleId)"
            [disabled]="!nextSampleId"
          >
            Confirm
          </button>
        </div>
      </div>

      <div *ngIf="inputDevice === 'camera'" style="width: 200px">
        <zxing-scanner
          (scanSuccess)="sampleScanSuccessHandler($event)"
          (scanError)="scanErrorHandler($event)"
        ></zxing-scanner>
      </div>
    </div>

    <button
      class="btn btn-primary mt-3"
      (click)="done()"
      [disabled]="addedSamples.length === 0"
    >
      Done
    </button>
  </ng-container>

  <ng-container *ngIf="currentStep === 'done'">
    <h5 class="d-flex align-items-center justify-content-center fs-5">
      4. Click on
      <span class="badge bg-success mx-2">Upload to database</span> to finalize
      the pooling
    </h5>

    <button class="btn btn-lg btn-success mt-3" (click)="upload()">
      Upload to database
    </button>
  </ng-container>

  <hr />

  <div class="container">
    <div *ngIf="poolId">
      <span>Pool ID: </span><code>{{ poolId }}</code>
    </div>
    <div *ngIf="addedSamples.length > 0" class="mt-2">
      <div class="text-muted">Added Samples</div>
      <ul class="list-group">
        <li
          *ngFor="let el of addedSamples.reverse()"
          class="list-group-item d-flex align-items-center px-1 py-0 small"
        >
          <pre>{{ el.sample_id }}</pre>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="poolId" class="container pt-4">
    <div class="form-group">
      <label for="pooling-source">Source (optional)</label>
      <input
        type="text"
        class="form-control"
        id="pooling-source"
        placeholder="Source"
        [(ngModel)]="source"
      />
    </div>
    <div class="form-group">
      <label for="pooling-comment">Comment (optional)</label>
      <textarea
        rows="4"
        class="form-control"
        id="pooling-comment"
        placeholder="Add your comment here …"
        [(ngModel)]="comment"
      ></textarea>
    </div>
  </div>
</div>
