<div class="container">
  <ngb-alert [dismissible]="false" class="d-block mt-3" type="info">
    Register arriving pools.
  </ngb-alert>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="register-pool-pool-id">Pool ID</label>
          <input type="text" class="form-control" id="register-pool-pool-id" placeholder="Pool ID (Read QR-Code with Camera or Scanner)" formControlName="poolId" [readonly]="cameraEnabled || scannerEnabled">
          <div class="py-1">
            <button type="button" class="btn btn-sm btn-primary" [class.btn-warning]="scannerEnabled" (click)="scannerEnabled = !scannerEnabled" (click)="stateService.scannerInputEnable.next(scannerEnabled)">
              <span *ngIf="!scannerEnabled">Start Scanner</span>
              <span *ngIf="scannerEnabled">Stop Scanner</span>
            </button>
            <button type="button" class="btn btn-sm btn-primary ms-1" [class.btn-warning]="cameraEnabled" (click)="cameraEnabled = !cameraEnabled">
              <span *ngIf="!cameraEnabled">Start Camera</span>
              <span *ngIf="cameraEnabled">Stop Camera</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="register-pool-source">Source (optional)</label>
          <input type="text" class="form-control" id="register-pool-source" placeholder="Source" formControlName="source">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="register-pool-comment">Comment (optional)</label>
          <input type="text" class="form-control" id="register-pool-comment" placeholder="Comment" formControlName="comment">
        </div>
      </div>
    </div>
    <div *ngIf="cameraEnabled" class="row">
      <div class="col-2">
        <div class="border rounded">
          <zxing-scanner
            [enable]="cameraEnabled"
            (scanSuccess)="scanSuccessHandler($event)"
            (scanError)="scanErrorHandler($event)"
          ></zxing-scanner>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>

</div>
