<div class="container-fluid py-3 text-center">
  <h4
    class="mb-4 p-2 rounded"
    style="color: #7b506f; background-color: #7b506f30"
  >
    Rack/Plate Mapping
  </h4>
  <ng-container *ngIf="!currentStep">
    <h5 class="d-flex align-items-center justify-content-center fs-5">
      1. Click on <span class="badge bg-primary mx-2">Start</span>
    </h5>
    <p class="text-muted">
      The complete process will only get saved to the database at the very end!
    </p>

    <button class="btn btn-primary mt-3" (click)="start()">Start</button>
    <button class="btn btn-outline-secondary mt-3 ms-2" routerLink="/">
      Home
    </button>
    <button
      class="btn btn-outline-secondary mt-3 ms-2"
      routerLink="/plate-pcr-plate-mapping"
    >
      Plate/PCR Plate Mapping
    </button>
  </ng-container>

  <ng-container *ngIf="currentStep === 'identify-plate'">
    <h5 class="d-flex align-items-center justify-content-center fs-1">
      2. Scan the
      <img
        src="assets/qrcode.svg"
        alt="QR Code"
        style="height: 1.3em"
        class="mx-2"
      />
      of the <span class="badge bg-dark mx-2">Plate</span>
    </h5>

    <div *ngIf="inputDevice === 'manual'">
      <div class="form-group">
        <label for="plate-id">Plate ID</label>
        <input
          type="text"
          class="form-control"
          id="plate-id"
          placeholder="Plate ID"
          [(ngModel)]="plateId"
        />
      </div>
      <button
        class="btn btn-primary mt-3"
        (click)="checkPlate(plateId || '')"
        [disabled]="!plateId"
      >
        Continue
      </button>
    </div>

    <div *ngIf="inputDevice === 'camera'" style="width: 200px">
      <zxing-scanner
        (scanSuccess)="plateScanSuccessHandler($event)"
        (scanError)="scanErrorHandler($event)"
      ></zxing-scanner>
    </div>
  </ng-container>

  <ng-container *ngIf="currentStep === 'scan-racks'">
    <h5 class="d-flex align-items-center justify-content-center fs-1">
      3. Scan the
      <img
        src="assets/qrcode.svg"
        alt="QR Code"
        style="height: 1.3em"
        class="mx-2"
      />
      of the
      <span class="text-warning fst-italic fw-bold border rounded mx-2 px-1"
        >{{ addedRacks.length + 1 }}.</span
      >
      <span class="badge bg-dark mx-2 py-1">Rack</span> and place it into
      <span class="text-success fst-italic fw-bold border rounded mx-2 px-1"
        >{{ matrix.y[indices.y] }}{{ matrix.x[indices.x] }}</span
      >
    </h5>
    <p class="text-muted">
      You must at least scan one and at most 4 rack(s) per Plate.
    </p>
    <p class="text-dark">
      Click on <span class="badge bg-primary mx-1">Done</span> when you are done
      early with the current Plate.
    </p>

    <div *ngIf="inputDevice === 'manual'">
      <div class="form-group">
        <label for="next-rack-id">Next Rack ID</label>
        <input
          type="text"
          class="form-control"
          id="next-p-id"
          placeholder="Next Rack ID"
          [(ngModel)]="nextRackId"
        />
        <button
          class="btn btn-outline-primary mt-3"
          (click)="manualNextRackId(nextRackId)"
          [disabled]="!nextRackId"
        >
          Confirm
        </button>
      </div>
    </div>

    <div *ngIf="inputDevice === 'camera'" style="width: 200px">
      <zxing-scanner
        (scanSuccess)="rackScanSuccessHandler($event)"
        (scanError)="scanErrorHandler($event)"
      ></zxing-scanner>
    </div>

    <button
      class="btn btn-primary mt-3"
      (click)="done()"
      [disabled]="addedRacks.length === 0"
    >
      Done
    </button>
  </ng-container>

  <ng-container *ngIf="currentStep === 'done'">
    <h5 class="d-flex align-items-center justify-content-center fs-5">
      4. Click on
      <span class="badge bg-success mx-2">Upload to database</span> to finalize
      the mapping
    </h5>

    <button class="btn btn-lg btn-success mt-3" (click)="upload()">
      Upload to database
    </button>
  </ng-container>

  <hr />

  <div class="container">
    <div *ngIf="plateId">
      <span>Plate ID: </span><code>{{ plateId }}</code>
    </div>
    <table *ngIf="plateId" class="mt-2 p-2 border bg-light mx-auto">
      <tr>
        <th class="rack axis m-1"></th>
        <th *ngFor="let x of matrix.x" class="rack axis m-1">{{ x }}</th>
      </tr>
      <tr *ngFor="let y of matrix.y; index as iy">
        <th class="rack axis m-1">{{ y }}</th>
        <td
          *ngFor="let x of matrix.x; index as ix"
          class="rack m-1"
          [class.next]="indices.x === ix && indices.y === iy"
          [class.empty]="
            indices.y < iy || (indices.x <= ix && indices.y === iy)
          "
        ></td>
      </tr>
    </table>
    <div *ngIf="addedRacks.length > 0" class="mt-2">
      <div class="text-muted">Added Racks</div>
      <ul class="list-group">
        <li
          *ngFor="let el of addedRacks.reverse()"
          class="list-group-item d-flex align-items-center px-1 py-0 small"
        >
          <pre class="m-0">{{ el.rack.rack_id }}</pre>
          <span class="flex-grow-1"></span>
          <code>{{ el.coordinate }}</code>
        </li>
      </ul>
    </div>
  </div>

  <div class="pt-3 text-center" *ngIf="currentStep === 'scan-racks'">
    <button class="btn btn-outline-danger mt-3 ms-2" (click)="reset()">
      Reset
    </button>
  </div>
</div>
