<div class="container-fluid py-3">
  <ng-container *ngIf="!currentStep">
    <ngb-alert [dismissible]="false" class="d-block mt-3" type="info">
      Click on the button below to start a new setup and associate racks with a plate. The complete process will only get saved to the database at the very end!
    </ngb-alert>

    <button class="btn btn-primary mt-3" (click)="currentStep = 'identify-plate'">Start</button>
  </ng-container>




  <ng-container *ngIf="currentStep === 'identify-plate'">
    <ngb-alert [dismissible]="false" class="d-block mt-3" type="info">
      Provide the identifier of the plate.
    </ngb-alert>

    <div class="border rounded bg-light p-3">
      <div class="btn-group btn-group-toggle mb-3" ngbRadioGroup name="plate-input-mode" [(ngModel)]="plateInputMode">
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="manual"> Manual
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="camera"> Camera
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="scanner"> Scanner
        </label>
      </div>

      <div *ngIf="plateInputMode === 'manual'">
        <div class="form-group">
          <label for="plate-id">Plate ID</label>
          <input type="text" class="form-control" id="plate-id" placeholder="Plate ID" [(ngModel)]="plateId">
        </div>
        <button class="btn btn-primary mt-3" (click)="checkPlate(plateId ||'')" [disabled]="!plateId">Continue</button>
      </div>

      <div *ngIf="plateInputMode === 'camera'" style="width: 200px">
        <zxing-scanner
          (scanSuccess)="plateScanSuccessHandler($event)"
          (scanError)="scanErrorHandler($event)"
        ></zxing-scanner>
      </div>

      <div *ngIf="plateInputMode === 'scanner'">
        <kbd>WIP</kbd>
      </div>
    </div>
  </ng-container>




  <ng-container *ngIf="currentStep === 'scan-racks'">
    <ngb-alert [dismissible]="false" class="d-block mt-3" type="info">
      Start scanning the QR codes on the racks in the correct order. You can select the camera or a hardware scanner. You must at least scan '1' and at most '{{ rackLimit }}' racks per plate ({{ plateId }}).
    </ngb-alert>

    <div class="border rounded bg-light p-3">
      <div class="btn-group btn-group-toggle mb-3" ngbRadioGroup name="rack-input-mode" [(ngModel)]="rackInputMode">
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="manual"> Manual
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="camera"> Camera
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="scanner"> Scanner
        </label>
      </div>

      <div *ngIf="rackInputMode === 'manual'">
        <div class="form-group">
          <label for="next-rack-id">Next Rack ID</label>
          <input type="text" class="form-control" id="next-p-id" placeholder="Next Rack ID" [(ngModel)]="nextRackId" (keyup.enter)="manualNextRackId(nextRackId)">
          <button class="btn btn-outline-primary mt-3" (click)="manualNextRackId(nextRackId)" [disabled]="!nextRackId">Confirm</button>
        </div>
      </div>

      <div *ngIf="rackInputMode === 'camera'" style="width: 200px">
        <zxing-scanner
          (scanSuccess)="rackScanSuccessHandler($event)"
          (scanError)="scanErrorHandler($event)"
        ></zxing-scanner>
      </div>

      <div *ngIf="rackInputMode === 'scanner'">
        <kbd>WIP</kbd>
      </div>
    </div>

    <button class="btn btn-primary mt-3" (click)="currentStep = 'done'" [disabled]="addedRacks.length === 0">Done</button>
  </ng-container>

  <ng-container *ngIf="currentStep === 'done'">
    <ngb-alert [dismissible]="false" class="d-block mt-3" type="info">
      By confirm with the button below, this plate and the racks get registered in the database and are ready for the next step.
    </ngb-alert>

    <button class="btn btn-primary mt-3" (click)="upload()">Upload to database</button>

  </ng-container>


  <hr>

  <div class="container">
    <div *ngIf="plateId">
      <span>Plate ID: </span><code>{{ plateId }}</code>
    </div>
    <table *ngIf="plateId" class="mt-2 p-2 border bg-light">
      <tr>
        <th class="rack axis m-1"></th>
        <th *ngFor="let x of matrix.x" class="rack axis m-1">{{ x }}</th>
      </tr>
      <tr *ngFor="let y of matrix.y; index as iy">
        <th class="rack axis m-1">{{ y }}</th>
        <td
          *ngFor="let x of matrix.x; index as ix"
          class="rack m-1"
          [class.next]="indices.x === ix && indices.y === iy"
          [class.empty]="indices.y < iy || (indices.x <= ix && indices.y === iy)">

        </td>
      </tr>
    </table>
    <div *ngIf="addedRacks.length > 0" class="mt-2">
      <div class="text-muted">Added Racks</div>
      <ul class="list-group">
        <li *ngFor="let el of addedRacks.reverse()" class="list-group-item d-flex align-items-center px-1 py-0 small">
          <span>{{ el.rack.rack_id }}</span>
          <span class="flex-grow-1"></span>
          <code>{{ el.coordinate }}</code>
        </li>
      </ul>
    </div>
  </div>
</div>
