<div class="container">
  <div class="row row-cols-1 row-cols-md-4 justify-content-center">
    <div class="col p-4">
      <div class="card h-100" routerLink="/upload-probe-orders">
        <img class="card-img-top p-4" src="/assets/upload-json.svg" alt="Upload JSON">
        <div class="card-body">
          <h5 class="card-title">Upload Probe Orders</h5>
          <p class="card-text">Upload the JSONs of the incoming probe orders.</p>
        </div>
      </div>
    </div>
    <div class="col p-4">
      <div class="card h-100" routerLink="/register-pool">
        <img class="card-img-top cover" src="/assets/register-pool.jpg" alt="Register Pool">
        <div class="card-body">
          <h5 class="card-title">Input Arriving Pools</h5>
          <p class="card-text">Register arriving pools.</p>
        </div>
      </div>
    </div>
    <div class="col p-4">
      <div class="card h-100" routerLink="/pooling">
        <img class="card-img-top cover" src="/assets/pooling.jpg" alt="Pooling">
        <div class="card-body">
          <h5 class="card-title">Internal Pooling</h5>
          <p class="card-text">Register pooling of internal probes.</p>
          <kbd>WIP</kbd>
        </div>
      </div>
    </div>
    <div class="col p-4">
      <div class="card h-100" routerLink="/pool-rack-mapping">
        <img class="card-img-top cover" src="/assets/pool-rack-mapping.jpg" alt="Pool Rack Mapping">
        <div class="card-body">
          <h5 class="card-title">Pool/Rack Mapping</h5>
          <p class="card-text">Setup the racks with the pools and save the mapping to the database.</p>
        </div>
      </div>
    </div>
    <div class="col p-4">
      <div class="card h-100" routerLink="/rack-plate-mapping">
        <img class="card-img-top cover" src="/assets/rack-plate-mapping.jpg" alt="Rack Plate Mapping">
        <div class="card-body">
          <h5 class="card-title">Rack/Plate Mapping</h5>
          <p class="card-text">Setup the plates with the racks and save the mapping to the database.</p>
        </div>
      </div>
    </div>
    <div class="col p-4">
      <div class="card h-100" routerLink="/plate-pcr-plate-mapping">
        <img class="card-img-top cover" src="/assets/plate-pcr-plate-mapping.jpg" alt="Plate PCR Plate Mapping">
        <div class="card-body">
          <h5 class="card-title">Plate/PCR-Plate Mapping</h5>
          <p class="card-text">Setup the pcr plates with the plates and save the mapping to the database.</p>
        </div>
      </div>
    </div>
    <div class="col p-4">
      <div class="card h-100" routerLink="/upload-results">
        <img class="card-img-top cover" src="/assets/upload-results.jpg" alt="Upload PCR Results">
        <div class="card-body">
          <h5 class="card-title">Upload PCR Results</h5>
          <p class="card-text">Upload the results from the PCR tests.</p>
        </div>
      </div>
    </div>
    <div class="col p-4">
      <div class="card h-100" routerLink="/download-probe-results">
        <img class="card-img-top p-4" src="/assets/download-json.svg" alt="Download JSON">
        <div class="card-body">
          <h5 class="card-title">Download Probe Results</h5>
          <p class="card-text">Download the probe results as JSON.</p>
        </div>
      </div>
    </div>
  </div>
</div>
