.interpretation
{
  cursor: pointer;

  transition: all 0.2s ease;

  &:hover
  {
    transform: scale(1.2);
  }

  &.negative
  {
    background-color: green !important;
  }

  &.positive
  {
    background-color: red !important;
  }

  &.undetermined
  {
    background-color: yellow !important;
  }
}
